header.jumbotron {
    background-image: url("../assets/cisco_no_logo_head.png");
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: #ffffff;
    padding-top: 14%;
    padding-bottom: 0;
    width: 100%;
    height: auto;

}


#footer1.jumbotron {

    background-image: url("../assets/cisco.png");
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0 auto;
    padding-bottom: 16%;
    width: 100%;
    height: auto;
}

.container.logo-container{

  align-items: center;
  height: 100px;

}


input.input_text {
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    font-size: 20px;
    padding: 4px 7px;
    outline: 0;
    width: 70%;
    height: 40px;
    -webkit-appearance: none;
}

textarea.input_text_main {
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    font-size: 20px;
    padding: 4px 7px;
    outline: 0;
    width: 100%;
    height: 75px;
    /*    font-weight: bold; */
    -webkit-appearance: none;
}

input.input_text:focus {
    border-color: #339933;
}

input.results_buttons {
    background-color: #f60;
    text-align: center;
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    font-size: 22px;
    padding: 4px 7px;
    outline: 0;
    height: 45px;
    -webkit-appearance: none;
}

.npb {
    padding-bottom: 0;
    color: #000000;
    float: right;
    font-weight: bold;
}

.npb_header {
    padding-bottom: 0;
    color: #f60;
    font-weight: bold;
}

td {
    font-family: Arial, sans-serif;
    font-size: 16pt;
}

button.input_submit {
    background-color: #ADD8E6;
    text-align: center;
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    font-size: 20px;
    padding: 4px 7px;
    outline: 0;

    height: 45px;
    -webkit-appearance: none;
}

button.input_boolean {
    background-color: #ADD8E6;
    text-align: center;
    border: 1px solid #ccc;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 2px 2px 3px #666;
    -webkit-box-shadow: 2px 2px 3px #666;
    box-shadow: 2px 2px 3px #666;
    font-size: 20px;
    padding: 4px 7px;
    outline: 0;

    height: 45px;
    -webkit-appearance: none;
}

/* Hide all the radio buttons */

input[type="radio"] {
    visibility: hidden;
}

/* Zoom effect when hovering over website icons logos */
.img-hover img {
    -webkit-transition: all .3s ease; /* Safari and Chrome */
  	-moz-transition: all .3s ease; /* Firefox */
  	-o-transition: all .3s ease; /* IE 9 */
  	-ms-transition: all .3s ease; /* Opera */
  	transition: all .3s ease;
}
.img-hover img:hover {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform:translateZ(0) scale(1.20); /* Safari and Chrome */
    -moz-transform:scale(1.20); /* Firefox */
    -ms-transform:scale(1.20); /* IE 9 */
    -o-transform:translatZ(0) scale(1.20); /* Opera */
    transform:translatZ(0) scale(1.20);
}


.grayscale {
  -webkit-filter: brightness(1.10) grayscale(100%) contrast(90%);
  -moz-filter: brightness(1.10) grayscale(100%) contrast(90%);
  filter: brightness(1.10) grayscale(100%);
}

/* Disable the radio button re-size because buttons are hidden from above css

input.bool_radio {
    width: 25px !important;
    height: 25px !important;
}
*/
